.contato {
  margin: 120px auto;
  @include d(s) {
    margin: 60px auto;
  }

  form {
    label {
      @include tipo-1(18);
      display: block;
    }

    input[type="text"],
    textarea {
      @include tipo-1(18);
      color: $cinza;
      width: 100%;
      padding: 0px 5px;
      height: 40px;
      border: 2px solid $bege-escuro;
      background-color: transparent;
      margin-bottom: 1em;

      &:hover,
      &:focus {
        outline: none;
        border-color: $bege-medio;
      }
    }

    textarea {
      height: 120px;
    }

    input.button {
      @include tipo-1(18);
      cursor: pointer;
      color: $bege-escuro;
      text-transform: uppercase;
      border: 2px solid $bege-escuro;
      background-color: transparent;
      display: block;
      width: 200px;
      padding-top: 5px;
      box-shadow: 5px 5px 0 -2px $bege-medio, 5px 5px 0 0px $bege-escuro;
      transition: 0.3s;

      &:hover {
        box-shadow: 3px 3px 0 -2px $bege-medio, 3px 3px 0 0px $bege-escuro;
      }
    }
  }

  &-info {
    display: inline-block;
    color: $bege-escuro;
    margin-top: 2em;
    margin-bottom: 3em;

    @include d(l) {
      float: right;
      text-align: right;
      margin-top: -3em;
    }
  }

  &-mapa {
    display: block;
    box-shadow: 0 0 0 10px $bege-medio;
    clear: both;
    img {
      width: 100%;
    }
  }
}
